apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: insurance
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: backend-sa
      containers:
        - name: backend
          image: <ECR_BACKEND_IMAGE_URI>
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8001
          env:
            - name: AWS_REGION
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: AWS_REGION
            - name: DYNAMODB_TABLE
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DYNAMODB_TABLE
            - name: S3_BUCKET
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: S3_BUCKET
            - name: JWT_SECRET_NAME
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: JWT_SECRET_NAME
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
