apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: insurance
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 8001
      targetPort: 8001
  type: LoadBalancer
